.about-body {
  font-family: 'Lato', sans-serif;
  min-height: calc(100vh - 80px);
  margin: 0;
  padding: 0;
  background-color:#9cd4f8;
}
.header {
  background-color: #FFC72C;
  text-align: center;
  padding: 10px;
}
.container {
  width: 100%;
  margin: 0;
  padding: 80px;
}
.image-box {
  float: right;
  width: 30%;
}
.text-box {
  float: right;
  width: 70%;
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff1500;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #ff26009b; /* Change the color on hover */
}
